@{Layout = "_Layout";}

@model HairSalon.Models.Client

<h1>Enter a new client for @ViewBag.Stylist.Name</h1> 
@* Since Client expects models to be the type of client, viewbag is required to reference clients stylist *@

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name)
  <input id="StylistId" name="StylistId" type="hidden" value="@ViewBag.Stylist.Id"/>
  @Html.LabelFor(model => model.PhoneNumber)
  @Html.TextBoxFor(model => model.PhoneNumber)
  <input type="submit" value="Enter"/>
}