@{Layout = "_Layout";}

@using HairSalon.Models
@model HairSalon.Models.Client

<h1>@Model.Name's Recorded info</h1>

<p>@Html.DisplayNameFor(model => model.PhoneNumber)</p>
<p>@Html.DisplayFor(model => model.PhoneNumber)</p>

@Html.ActionLink("Back to Stylist", "Details", "Stylist", new {id = @Model.StylistId},  new { @class = "btn btn-dark btn-large" }) 
