@{Layout="_Layout";}

@using HairSalon.Models
@model HairSalon.Models.Stylist
<h1>Details for stylist @Model.Name</h1>

<p>@Html.DisplayNameFor(model => model.Specialty): @Html.DisplayFor(model => model.Specialty)</p>

<hr>
<h2>Clients:</h2>
@if (Model.Clients.Count == 0)
{
  <p>@Model.Name has no clients yet.</p>
}
@foreach (Client client in Model.Clients)
{
  <p>@Html.ActionLink(@client.Name, "Details", "Client", new {id = @client.ClientId},  new { @class = "btn btn-dark btn-large" })</p>

}
<hr>
@Html.ActionLink("Add Client", "Create", "Client", new {id = Model.Id}, new {@class = "btn btn-warning"})
@Html.ActionLink("Remove this Stylist", "Delete", null, new {id = @Model.Id},  new { @class = "btn btn-dark btn-large" }) 
