@{Layout = "_Layout";}

@model HairSalon.Models.Client

<h1>Enter a new client for @ViewBag.Stylist.Name</h1>  

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name) 
  <input id="StylistId" name="StylistId" type="hidden" value="@ViewBag.Stylist.Id"/>
  @Html.LabelFor(model => model.Email) 
  @Html.TextBoxFor(model => model.Email)
  <input type="submit" value="Enter"/>
}